html,
body {
    margin: 0;
    padding: 0;
    background: #131722 !important;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
}

.split-horizontal>div {
    float: left;
}

.gutter {
    background-color: #2a2e39;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}

.gutter.gutter-vertical {
    cursor: row-resize;
}

.split.split-horizontal,
.gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

.config-selector-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .config-selector {
        background-color: #e7e7e7;
        width: 600px;
        height: 400px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 10px 23px -12px #000;
        overflow: hidden;

        .config-carousel {
            flex-grow: 1;
            display: flex;
            height: 100%;

            .carousel-item {
                transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
            }
        }

        .carousel-buttons {
            box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.3);

            .btn {
                width: 50%;
                border-radius: 0;
            }
        }

        .config-pane {
            height: 100%;

            .pane-container {
                display: flex;
                flex-direction: column;
                padding: 20px;
                height: 100%;

                h1 {
                    font-weight: 300;
                    font-size: 24px;
                    color: black;
                    padding: 6px 0 6px 10px;
                    margin: 0px
                }

                .pane-content {
                    padding: 10px 10px 0 10px;
                    flex-grow: 1;
                    overflow: auto;
                    border-radius: 10px;
                }

                .form-group {
                    margin-top: 20px;
                }

                .form-label {
                    margin-bottom: 3px;
                }

                .form-control {
                    margin-bottom: 10px;
                }
            }

            .platform-instance-button {
                padding: 10px 20px;

                >div {
                    display: flex;

                    div:nth-child(1),
                    div:nth-child(2) {
                        flex-grow: 1;
                    }

                    div:nth-child(2) {
                        margin: 0px 10px
                    }
                }
            }
        }
    }
}

.list-group {
    .btn {
        width: 100%;
        color: black;
        text-align: left;
        border-radius: 0;

        &:hover,
        &:active,
        &.active {
            color: white;
        }

        &:first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        &:last-child {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

    &.list-group-horizontal {

        .btn {
            text-align: center !important;
            padding: 0.4rem 1.25rem;
            border-radius: 0;

            &:first-child {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            &:last-child {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }
}

.custom-scroll {

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background: #ffffff;
        border: 0px none #ffffff;
        border-radius: 50px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.4);
        border: 0px none #ffffff;
        border-radius: 50px;
    }

    &::-webkit-scrollbar-track:hover {
        background: #666666;
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}

.btn {
    outline: none !important;
    box-shadow: none !important;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.chart-container {
    overflow: hidden
}

.collapsible-section {
    width: 100%;

    .header {
        background: #364156;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 22px;
        color: white;

        &::before {
            content: "-";
            padding: 0px 7px;
            font-family: consolas;
        }

        &.collapsed {
            &::before {
                content: "+";
            }
        }
    }

    .content {
        transition: max-height 0.2s ease-out;
        overflow: hidden;
        color: white;

        &.custom-scroll {
            overflow: auto;

            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 0px;
                background: rgba(255, 255, 255, 0.3);
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
                border-radius: 0;
            }

            &::-webkit-scrollbar-track:hover {
                background: transparent;
            }
        }
    }
}

.trade-panel {
    max-height: 100%;
    display: flex;

    >div {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .collapsible-section:nth-child(2) {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            overflow: auto;
        }
    }

}

.orderbook-table {
    color: white;
    font-size: 11px;
    margin: 0;
    box-sizing: border-box;
    white-space: nowrap;

    tr, th {
        box-sizing: border-box;
    }

    th, td {
        border-top: 0 none;
    }

    tr:nth-child(even) {
        td {
            background: rgba(255,255,255,0.07);
        }
    }
}