html,
body {
    margin: 0;
    padding: 0;
    background: #131722 !important;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.split-horizontal > div {
    float: left;
}

.gutter {
    background-color: #2a2e39;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}

.gutter.gutter-vertical {
    cursor: row-resize;
}

.split.split-horizontal,
.gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

.config-selector-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .config-selector {
        background-color: #8c93a8;
        width: 500px;
        height: 350px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 10px 23px -12px #000;
        overflow: hidden;

        .config-carousel {
            flex-grow: 1;
            display: flex;
        }

        .carousel-buttons {
            box-shadow: 0 1px 4px 0px rgba(0,0,0,0.3);

            .btn {
                width: 50%;
                outline: none !important;
                box-shadow: none !important;
                border-radius: 0;;
            }
        }

        .config-pane {
            height: 100%;
            width: 100%;

            .pane-container {
                display: flex;
                flex-direction: column;
                padding: 20px;
                
                h1 {
                    font-weight: 400;
                    font-size: 24px;
                    color: black;
                    padding-bottom: 20px;
                }

                .pane-content {
                    flex-grow: 1;
                }
            }
            
        }
    }
}
